.btn-signin{
    background-color: var(--color-primario);
    color: white;
}
.btn-signin:hover{
    background-color: #4c209c;
}

.btn-google{
    background-color: white;
}
.btn-google:hover{
    background-color: rgb(243, 243, 243);
}